<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load qr_code %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khoa tin học | Trường Đại học Sư phạm | Đại học Huế</title>



    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/khoatin.ico' %}" type="image/x-icon">

    <!-- Library CSS -->
    <link href="{% static 'css/glanz_library.css' %}?version=16" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="{% static 'fonts/themify-icons.css' %}?version=16" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/glanz_style.css' %}?version=16" rel="stylesheet">


    <!-- Other Fonts -->
    <link href="{% static 'fonts/marsha/stylesheet.css' %}?version=16" rel="stylesheet">

</head>


<!-- Body -->

<body class="gla_middle_titles">


    <!-- Page -->
    <div class="gla_page" id="gla_page">



        <!-- To Top -->
        <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>


        <!-- Music -->
        <!-- <div class="gla_music_icon">
        <i class="ti ti-music"></i>
    </div>
    <div class="gla_music_icon_cont">
        <iframe src="../player/index-1.htm?url=https%3A//api.soundcloud.com/tracks/66757544&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div> -->

        <!-- Header -->
        <header>



            <nav class="gla_light_nav gla_transp_nav">

                <div class="container">

                    <div class="gla_logo_container clearfix">
                        <img src="{% static 'images/khoatin.png' %}" alt="">
                        <div class="gla_logo_txt">
                            <!-- Logo -->
                            <a href="/" class="gla_logo">Khoa Tin học</a>

                            <!-- Text Logo -->
                            <div class="gla_logo_und">Trường Đại học Sư phạm - Đại học Huế</div>
                        </div>
                    </div>

                    <!-- Menu -->

                    <!-- Menu Content -->
                    <!-- <div class="gla_main_menu_content gla_image_bck" data-color="rgba(0,0,0,0.9)" data-image="images/wedding/lauren_affonso/14400933225_3b844816c3_k.jpg"> -->
                    <!-- Over -->
                    <!-- <div class="gla_over" data-color="#000" data-opacity="0.7"></div> -->
                    <!-- </div> -->

                    <!-- Top Menu End -->



                </div>
                <!-- container end -->
            </nav>

        </header>
        <!-- Header End -->


        <!-- Slider -->
        <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed" data-image="{% static 'images/bgr2.1.jpg' %}"
            data-stellar-background-ratio="0.8">

            <!-- Over -->
            <div class="gla_over" data-color="#1e1d2d" data-opacity="0.2"></div>


            <div class="container">


                <!-- Slider Texts -->
                <div class="gla_slide_txt gla_slide_center_middle text-center">
                    <div class="gla_flower gla_flower2">
                        <div class="gla_flower2_name_l">Kỷ niệm 25 năm xây dựng
                            <!-- <b>các thế hệ cán bộ, học viên, sinh viên khoa tin học</b> -->
                        </div>
                        <div class="gla_flower2_name_r">và phát triển Khoa Tin học
                            <!-- <b>August 10, 2017</b> -->
                        </div>
                        <img src="{% static 'images/khoatin3.jpg' %}" alt="">
                    </div>


                </div>
                <!-- Slider Texts End -->

            </div>
            <!-- container end -->

            <!-- Slide Down -->
            <a class="gla_scroll_down gla_go" href="#gla_content">
                <b></b>
                Scroll
            </a>


        </div>
        <!-- Slider End -->

        <!-- Content -->
        <section id="gla_content" class="gla_content">


            <!-- section -->
            <section class="gla_section gla_image_bck" data-color="#fafafd">



                <div class="container text-center">
                    <p><img src="{% static 'images/animations/flower5.gif' %}"
                            data-bottom-top="@src:{% static 'images/animations/flower5.gif' %}; opacity:1"
                            class="gla_animated_flower" height="150" alt=""></p>
                    <h2>Gặp gỡ các thế hệ cán bộ, học viên, sinh viên</h2>
                    <h3 class="gla_subtitle">Khoa Tin học trường Đại học Sư phạm Huế</h3>



                    <p class="text-justify">Bộ môn Khoa Tin học, tiền thân của Khoa Tin học ngày nay đã được thành lập
                        theo quyết định số 09/QĐ-TC ngày 8 tháng 3 năm 1996 của Ban Giám Hiệu Trường ĐHSP Huế.
                        Trải qua 25 năm xây dựng và phát triển, khoa Tin học đã trưởng thành về đội ngũ, đào tạo, nghiên
                        cứu khoa học và các hoạt động khác, góp phần vào sự phát triển chung của Trường ĐHSP Huế cũng
                        như sứ mạng đào tạo nguồn nhan lực CNTT của cả nước.
                        Đã có lúc ngành sư phạm Tin học đứng trước những chặng đường khó khăn và thách thức, nhưng 25
                        thế hệ sinh viên đã trưởng thành đóng góp cho sự nghiệp giáo dục của nước nhà, góp phần xây dựng
                        quê hương đất nước, khẳng định vị thế của khoa Sư phạm Tin học đầu tiên của cả nước trong đào
                        tạo giáo viên tin học.
                        <br>
                        <br>
                        Nhằm nhìn lại chặng đường 25 năm xây dựng và phát triển, đồng thời dịp các thế hệ thầy trò sum
                        họp cùng nhau, bạn bè các khóa gặp mặt sau bao năm xa cách để ôn lại những kỷ niệm trong quá
                        trình công tác, học tập và kết nối các thế hệ trên mọi miền tổ quốc.
                        Khoa Tin học sẽ tổ chức "Buổi gặp mặt các thế hệ cán bộ và sinh viên khoa Tin học, trường ĐHSP
                        Huế nhân dịp 25 năm thành lập khoa".
                    </p>



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8"
                data-image="{% static 'images/bgr2.2.jpg' %}">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">
                    <p><img src="{% static 'images/animations/savethedate_wh.gif' %}"
                            data-bottom-top="@src:{% static 'images/animations/savethedate_wh.gif' %}" height="150"
                            alt=""></p>
                    <h2>30/04 - 01/05/2021</h2>
                    <h3 class="gla_subtitle">Trường Đại học Sư phạm Huế, <br>34 Lê Lợi</h3>
                    <div class="gla_countdown" data-year="2021" data-month="04" data-day="30"></div>

                </div>
                <!-- container end -->

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section">


                <div class="container text-center">
                    <p><img src="{% static 'images/animations/flower6.gif' %}"
                            data-bottom-top="@src:{% static 'images/animations/flower6.gif' %}; opacity:1"
                            class="gla_animated_flower" height="110" alt=""></p>
                    <h2>Các hoạt động</h2>
                    <h3 class="gla_subtitle">Hướng đến kỷ niệm 25 năm xây dựng và phát triển Khoa Tin học (1996-2021)</h3>
                    <p class="text-justify">Khoa dự kiến sẽ tổ chức một số hoạt động như: đón tiếp đại biểu thăm phòng
                        truyền thống khoa Tin học; Buổi lễ gặp mặt các thế hệ cán bộ và sinh viên tại Giảng đường 1,
                        Trường ĐHSP Huế; Tiệc liên hoan tại Khách sạn Hương Giang; Tham quan Hue city tour free; Các
                        khóa, lớp giao lưu theo kế hoạch của mình trong các ngày nghỉ lễ (30/4, 01/05, 02/05, 03/05).
                    </p>
                    <div class="row text-center">
                        <div class="col-md-4 gla_round_block">
                            <div class="gla_round_im gla_image_bck" data-image="{% static 'images/bgr7.jpg' %}"></div>
                            <h3>Đón tiếp đại biểu <br>tham quan phòng truyền thống Khoa</h3>
                            <p>Từ 8h00<br>Ngày 30/04/2021</p>
                            <!-- <a href="#" class="btn">View Map</a> -->
                        </div>

                        <div class="col-md-4 gla_round_block">
                            <div class="gla_round_im gla_image_bck" data-image="{% static 'images/bgr6.jpg' %}"></div>
                            <h3>Đón tiếp đại biểu <br>Tại Giảng Đường 1 Trường ĐHSP Huế</h3>
                            <p>8h00 - 8h30<br>Ngày 01/05/2021</p>
                            <!-- <a href="#" class="btn">View Map</a> -->
                        </div>

                        <div class="col-md-4 gla_round_block">
                            <div class="gla_round_im gla_image_bck" data-image="{% static 'images/bgr5.jpg' %}"></div>
                            <h3>Chương trình văn nghệ</h3>
                            <p>8h30 - 9h00<br>Ngày 01/05/2021 <br> <br> <br> <br></p>
                            <!-- <a href="#" class="btn">View Map</a> -->
                        </div>

                        <div class="col-md-6 gla_round_block">
                            <div class="gla_round_im gla_image_bck" data-image="{% static 'images/bgr4.jpg' %}"></div>
                            <h3>Lễ kỷ niệm 25 năm thành lập</h3>
                            <p>9h00 - 10h30<br>Ngày 01/05/2021</p>
                            <!-- <a href="#" class="btn">View Map</a> -->
                        </div>

                        <div class="col-md-6 gla_round_block">
                            <div class="gla_round_im gla_image_bck" data-image="{% static 'images/bgr3.jpg' %}"></div>
                            <h3>Tiệc Gặp gỡ tại KS Hương Giang</h3>
                            <p>Từ 11h<br>Ngày 01/05/2021</p>
                            <!-- <a href="#" class="btn">View Map</a> -->
                        </div>

                    </div>
                    <br>
                    <h3 class="gla_subtitle">Các hoạt động chào mừng 25 năm xây dựng và phát triển Khoa Tin học</h3>

                    <p class="text-left"><strong>1.</strong> Phát động cuộc thi thiết kế logo <br>
                        <strong>2.</strong> Tổ chức buổi ký kết hợp tác chiến lược với Công Ty phần mềm TMA Solutions
                        <br>
                        <strong>3.</strong> Tham dự giải bóng đá sinh viên Trường ĐHSP Huế <br>
                        <strong>4.</strong> Tham dự Giải bóng chuyền truyền thống CB-VC-NLĐ Trường ĐHSP Huế <br>
                        <strong>5.</strong> Lãnh đạo Khoa qua các thời kỳ gặp mặt cựu sinh viên để kết nối và xây dựng
                        mạng lưới cựu sinh viên Khoa Tin học <br>
                        <strong>6.</strong> Đội tuyển tham dự cuộc thi Tin học văn phòng Quốc tế (MOS) <br>
                        <strong>7.</strong> Hoàn thiện đưa vào sử dụng Phòng thực hành chuyên ngành Hệ thống thông tin
                        <br>
                        <strong>8.</strong> Phối hợp với khoa Toán: Xây dựng đề án mở Phòng LAB Trí tuệ nhân tạo và Khoa
                        học dữ liệu (AI&DS LAB) <br>
                        <strong>9.</strong> Tổ chức gian hàng Giới thiệu Khoa Tin học trong ngày hội tuyển sinh Trường
                        ĐHSP Huế <br>
                    </p>
                    <!-- container end -->
                    <br>
                    <br>
                    <br>



                    <h3 class="gla_subtitle">Danh sách nhừng người đã phản hồi</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {% for th in form %}
                                <th scope="col">{{ th.label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tr in page_obj %}
                            <tr>
                                <th>{{ tr.name }}</td>
                                <th>{{ tr.email }}</td>
                                <th>{{ tr.attend }}</th>
                                <th>{{ tr.year }}</th>
                                <th>{{ tr.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    <!-- <br>
                    <br>
                    <br>
                    <br>
                    <h3 class="gla_subtitle"><marquee>
                        {% for title in title %}
                        {{ title }}
                        {% endfor %}
                    </marquee></h3> -->

                    <br>
                    <br>
                    <br>

                    <h3 class="gla_subtitle">Quét mã QR để check in</h3>
                    <!-- {% for url in link_qrcode %} -->
                    <img src="{% qr_url_from_text 'https://www.facebook.com/khoatinhocdhsphue' %}">
                    <!-- {% endfor %} -->
                </div>

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.2"
                data-image="{% static 'images/bgr6.jpg' %}">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">
                    <p><img src="{% static 'images/animations/rsvp_wh.gif' %}"
                            data-bottom-top="@src:{% static 'images/animations/rsvp_wh.gif' %}" height="200" alt=""></p>

                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            <!-- <form action="https://formspree.io/your@mail.com" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your name*</label>
                                    <input type="text" name="name" class="form-control form-opacity">
                                </div>
                                <div class="col-md-6">
                                    <label>Your e-mail*</label>
                                    <input type="text" name="email" class="form-control form-opacity">
                                </div>
                  
                                <div class="col-md-6">
                                    <label>Will you attend?</label>

                                    <input type="radio" name="attend" value="Yes, I will be there">
                                    <span>Yes, I will be there</span><br>
                                    <input type="radio" name="attend" value="Sorry, I can't come">
                                    <span>Sorry, I can't come</span>
                                    
                                </div>
                                <div class="col-md-6">
                                    <label>Meal preference</label>
                                    <select name="meal" class="form-control form-opacity">
                                        <option value="I eat anything">I eat anything</option>
                                        <option value="Beef">Beef</option>
                                        <option value="Chicken">Chicken</option>
                                        <option value="Vegetarian">Vegetarian</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label>Notes</label>
                                    <textarea name="message" class="form-control form-opacity"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn submit" value="Send">
                                </div>
                            </div>
                        </form> -->

                            <form method="POST">{% csrf_token %}
                                <div class="row">
                                    {% for formm in form %}
                                    {% if formm is form.note %}
                                    <div class="col-md-12">
                                        <label>{{ form.note.label }}</label>
                                        {{ form.note }}
                                    </div>


                                    {% else %}
                                    <div class="col-md-6">
                                        <label>{{ formm.label }}</label>
                                        {{ formm }}
                                    </div>

                                    {% endif %}

                                    {% endfor %}

                                    <div class="col-md-12">
                                        <input type="submit" class="btn submit" name="formm" value="Gửi">
                                    </div>

                                </div>

                            </form>


                        </div>
                    </div>




                </div>
                <!-- container end -->



            </section>
            <!-- section end -->

            <!-- <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ img.as_p }}
            <input type="submit" name="imgg" value="Gửi">
        </form> -->

            <!-- section -->
            <section class="gla_section gla_image_bck">


                <div class="container text-center">
                    <p><img src="{% static 'images/animations/flower7.gif' %}"
                            data-bottom-top="@src:{% static 'images/animations/flower7.gif' %}; opacity:1"
                            class="gla_animated_flower" height="110" alt=""></p>
                    <h2>Tải ảnh lên</h2>
                    <!-- <p>Andy and Jeska met in university in the Graphic Design program. They both remember each other from orientation, but it wasn’t love at first sight, that’s for sure. Andy remembers Jeska as a ‘snooty art bitch (having been in the visual arts program at the time), and she remembers Andy being an ‘arrogant computer nerd’, boasting his knowledge of Macs over the other students.</p> -->
                    <h3>Bạn có thể đóng góp một vài bức ảnh kỉ niệm của bạn với khoa!</h3>
                    <br>

                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 ">
                                <label>{{ img.year.label }} <span>{{ img.year }}</span></label>
                            </div>
                            <div class="col-md-5">
                                {{ img.image }}</span>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn submit" name="imgg" value="Gửi">
                            </div>
                        </div>
                    </form>


                    <!-- filters -->
                    <div class="button-group filter-button-group">
                        <a data-filter="*">Tất cả các khóa</a>
                        {% for filter in filters %}
                        <a data-filter=".{{ filter.0 }}">{{ filter.1 }}</a>
                        {% endfor %}
                    </div>
                    <!-- filters end -->

                    <!-- grid -->
                    <div class="gla_portfolio_no_padding grid">

                        <!-- <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item"> -->
                        <!-- <a href="images/wedding/lauren_affonso/14214345610_af0e495ff2_k.jpg" class="lightbox">
                                <img src="images/wedding/lauren_affonso/600x600/14214345610_af0e495ff2_k.jpg" alt="">
                            </a> -->

                        {% for imagee in image %}
                        {% if imagee.status is True %}
                        <div class="col-sm-4 gla_anim_box grid-item {{ imagee.year }}">
                            <div class="gla_shop_item">
                                <a href="{{ imagee.image.url }}" class="lightbox">
                                    <img src="{{ imagee.image.url }}" alt="">
                                </a>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}



                        <!-- </div>
                    </div> -->


                        <!-- <div class="col-sm-4 gla_anim_box grid-item ceremony">
                        <div class="gla_shop_item">
                            <a href="images/wedding/lauren_affonso/14214347748_db9bfb6322_k.jpg" class="lightbox">
                                <img src="images/wedding/lauren_affonso/600x600/14214347748_db9bfb6322_k.jpg" alt="">
                            </a>
                            

                        </div>
                    </div> -->









                    </div>
                    <!-- grid end -->



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section gla_image_bck gla_wht_txt gla_fixed" data-stellar-background-ratio="0.8"
                data-image="{% static 'images/bgr9.1.jpg' %}">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">


                    <h2>Các nhà tài trợ</h2>


                    <!-- icon boxes -->
                    <div class="gla_icon_boxes gla_partners row">


                        <!-- item -->

                        {% for company in cooperate %}
                        <div class="gla_partner_box">
                            <a href="#"><img src="{{ company.image.url }}" height="80" alt=""></a>
                        </div>
                        {% endfor %}



                    </div>
                    <!-- icon boxes end -->



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->


            <!-- section -->
            <section class="gla_section gla_image_bck" data-color="#fff">


                <div class="container text-center">

                    <h2>Một số hình ảnh các hoạt động của khoa</h2>

                    <!-- filters -->
                    <!-- <div class="button-group filter-button-group">
                    <a data-filter="*">Show All</a>
                    <a data-filter=".groomsmen">Groomsmen</a>
                    <a data-filter=".bridesmaids">Bridesmaids</a>
                </div> -->
                    <!-- filters end -->

                    <!-- grid -->
                    <div class="gla_portfolio_no_padding grid">

                        <!-- <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                        <div class="gla_shop_item">
                            <a href="{% static 'images/hoatdong/bongda1.jpg' %}" class="lightbox">
                                <img src="{% static 'images/hoatdong/bongda1.jpg' %}" alt="">
                            </a>
                            
                            <a href="#" class="gla_shop_item_title">
                                Bóng đá sinh viên 2021
                            </a>

                        </div>
                    </div> -->
                        {% for act in activity %}
                        {% if act.status is True %}
                        <div class="col-sm-4 gla_anim_box grid-item bridesmaids">
                            <div class="gla_shop_item">
                                <a href="{{ act.image.url }}" class="lightbox">
                                    <img src="{{ act.image.url }}" alt="">
                                </a>

                                <a href="#" class="gla_shop_item_title">
                                    {{ act.name }}
                                </a>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}





                    </div>
                    <!-- grid end -->



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->







            <!-- section -->
            <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8"
                data-image="{% static 'images/bgr1.1.jpg' %}">

                <!-- Over -->
                <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

                <div class="container text-center">
                    <p><img src="{% static 'images/animations/thnyou_wh.gif' %}" alt="" height="300"
                            data-bottom-top="@src:{% static 'images/animations/thnyou_wh.gif' %}"></p>



                </div>
                <!-- container end -->

            </section>
            <!-- section end -->






        </section>
        <!-- Content End -->




    </div>
    <!-- Page End -->



    <!-- JQuery -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}" ?version=16></script>
    <!-- Library JS -->
    <script src="{% static 'js/glanz_library.js' %}" ?version=16></script>

    <!-- Theme JS -->
    <script src="{% static 'js/glanz_script.js' %}" ?version=16></script>


</body>

</html>